table {
  width: 50%;
  margin-top: 30px;
}

th {
  text-align: left;
  height: 60px;
}

td {
  height: 60px;
  align-items: center;
}

.btn-data {
  margin: 20px 0px;
  padding: 40px 0px;
}

.btn {
  text-decoration: none;
  border: 2px solid;
  padding: 8px 8px;
  border-radius: 6px;
}

.btn-primary {
  background-color: #7749f8;
  color: white;
}

.btn-primary-dark {
  background-color: #5227cc;
  color: white;
}

.btn-primary-outline {
  border-color: #7749f8;
  color: #7749f8;
}
.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary-dark {
  background-color: #54595e;
  color: white;
}
.btn-secondary-outline {
  border-color: #6c757d;
  color: #6c757d;
}
