* {
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  /* font-weight: 600; */
  font-style: normal;
  line-height: 2;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

.container {
  max-width: 80%;
  margin: auto;
}

.heading {
  margin: 40px 0px;
}
.page-title {
  margin: 30px 0px;
}
.title {
  font-size: 20px;
}

.detail {
  font-weight: normal;
  color: #abb5be;
}

.color-group {
  margin: 30px 0px;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

hr {
  color: #cfd4dabc;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
