table {
  width: 100%;
  /* border: 1px solid; */
}

th {
  text-align: left;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

td {
  height: 50px;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #abb5be;
}

tr:nth-child(odd) {
  background-color: #ebe5fc;
}

.btn {
  padding: 10px 15px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #54595e;
  color: #7749f8;
}

.btn:hover {
  background-color: #5227cc;
  color: white;
  cursor: pointer;
}

.page-num {
  margin: 20px 0px;
}

.table-contents {
  margin-top: 80px;
}

.prev {
  color: #abb5be;
}
