.section1 {
  width: 30%;
  display: inline-block;
}

.section2 {
  margin-left: 40px;
  width: 60%;
  display: inline-block;
}

.tabs ul li {
  display: inline-block;
  margin-top: 10px;
}

.paragraph {
  padding: 20px 0px;
}

.tabs-info {
  width: 50%;
}

.tab-link {
  text-decoration: none;
  color: #7749f8;
}

.tab {
  border: 2px solid #abb5be;
  padding: 5px 10px;
  border-radius: 4px;
}
.tab:first-child {
  border-bottom: none;
}

.tab:first-child a {
  color: #54595e;
}

.lead-text > .paragraph {
  font-size: 20px;
}
